body {
  font-size: 16px;
}
.thread {
  border: 1px solid #dadada;
  width: 40vw;
  margin: 0 auto;
}

.thread .threadBody {
  background-color:#e9ebee;
}

.thread .threadNode {
  padding: 0.5rem 1rem; 
  border-bottom: 1px solid #dde0e6; 
}

.thread .threadNode.threadHeader {
  background-color: #FFF;
  padding: 1rem;
}

.threadReply {
  padding: 0.5rem 0;
}
.threadReply .thread__replyInput {
  padding: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #dadada;
}