html, body {
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
}
.app {
  margin: 0 auto;
  width: 40vw;
}
.thread, .threadStarter {
  border: 1px solid #dadada;
}

.threadStarter {
  display: block;
  margin-bottom: 1em;
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
  cursor: pointer;
}

.activate {
  margin-bottom: 1em;
}

.activate .threadStarter {
  margin-bottom: 0.5em;
  cursor: text;
}

.buttonContainer {
  text-align: right;
}
.postBtn {
  background-color: #215c98;
  border: 0;
  color: #FFF;
  font-size: 1em;
  padding: 0.5em 1em 0.65em;
  border-radius: 3px;
  opacity: .5;
}

.postBtn.active {
  opacity: 1;
  cursor: pointer;
}

.thread {
  margin-bottom: 2rem;
}

.thread .threadBody {
  background-color:#e9ebee;
}

.thread .threadNode {
  border-bottom: 1px solid #dde0e6; 
}

.thread .threadRepliedNode {
  padding: 1rem; 
}

.thread .nodeTitle {
  margin-bottom: 0.5em;
  display:flex;
  flex-direction: row;
}

.thread .personName {
  flex-grow: 1;
}

.thread .nodePerson {
  font-weight: bold;
}

.thread .deleteThread {
  position:relative;
  top: -5px;
  flex-grow: 0;
  cursor: pointer;
  visibility: hidden;
}

.thread .deleteThread:before {
  content: "🚫";
  position: relative;
  margin-right: 0.35em;
  top: 1px;
  cursor: pointer;
}

.thread .threadNode:hover .deleteThread {
  visibility: visible;
}

.thread .nodeTimestamp {
  color: #888;
  font-size: 0.9em;
  margin-left: 0.25em;
}

.thread .threadHeader {
  background-color: #FFF;
  padding: 1rem;
}

.threadReply {
  padding: 1rem;
  color: #646d7a;
}
.threadReply .thread__replyInput {
  padding: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #dadada;
  background-color: #FFF;
  cursor: pointer;
  outline: none;
  font-size: 1rem;
  margin-bottom: 1em;
}