* {
  box-sizing: border-box;
}
body{
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-around;
}

.languages {
  display: flex;
  justify-content: center;
}

.languages li {
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}

.languages .active {
  color: #D0021B;
}

.popular-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.popular-item {
  margin: 20px;
  text-align: center;
}

.space-list-items {
  margin-bottom: 7px;
}

.popular-rank {
  font-size: 20px;
  margin: 10px;
  position:relative;
  left: -5px;
}

.avatar {
  width: 150px;
  border-radius: 50%;
}

a {
  color: #D0021B;
  text-decoration: none;
}

.nav {
  display:flex;
}

.nav li {
  margin-right: 15px;
}

.home-container {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.active {
  font-weight: bold;
}

.button {
  color: #e6e6e6;
  background: #0A0A0A;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  width: 200px;
  text-align: center;
  display: block;
  padding: 7px 0;
  margin: 10px auto;
}

.button:hover:enabled {
  background: linear-gradient(#1a1a1a, #0A0A0A);
  color: #FFF;
  text-decoration: none;
}

.button.active {
  transform: translateY(1px);
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 200;
}

.player-image {
  width: 200px;
  display: block;
}

.information {
  text-align: left;
}

.input {
  display: block;
  padding: 5px;
  border-radius: 3px;
  margin: 10px 0;
  border: 1px solid rgba(0,0,0,0.43);
  font-size: 16px;
  width: 100%;
}

.reset {
  border: none;
  background: transparent;
  color: #d0021B;
  display: block;
  width: 100%;
  text-align: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
